<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robotis_manipulator_gazebo)/config/position_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/robotis_manipulator" args="joint_state_controller
				       		        joint1_pos
				       		  	joint2_pos
				       		  	joint3_pos
				      		 	joint4_pos
				     		 	joint5_pos
				      		 	joint6_pos
                                                        grip_pos
                                                        grip_1_pos"/>

</launch>
